###############################################################################
# Editor                                                                      #
###############################################################################
# JetBrains
.idea/
*.iml

###############################################################################
# Build                                                                       #
###############################################################################
/target

###############################################################################
# Other                                                                       #
###############################################################################
**/*.rs.bk
